/* add your classes here, specific to the view your styling. */ 

.featured{
    background-color: #0096bfab;
    overflow: hidden;
    border-radius: 10px;
}

.heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
h1 a{
    color: white;
}

.summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
}
img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: block;
}
.blink {
    color: white;
    -webkit-animation: font-blink 800ms step-end infinite;
    animation: font-blink 800ms step-end infinite;
}
@-webkit-keyframes font-blink { 50% { color:deeppink; }}
@keyframes font-blink { 50% { color: deeppink; }}

@view-transition {
    navigation: auto;
}
@keyframes collapse {
    from {
        transform: rotate(0) scale(1) translateX(0) translateY(0);
    }
    to {
        transform: rotate(-300deg) scale(0) translateX(-100%) translateY(100%);
    }
}
@keyframes expand {
    from {
        clip-path: inset(50% 50% 50% 50%);
        transform: scale(0) translateX(100%) translateY(-70%);
        background: skyblue;
    }
    to {
        clip-path: inset(0 0 0 0);
        transform: scale(1) translateX(0) translateY(0);
        background: inherit;
    }
}
::view-transition-old(page-transition) {
    animation: 600ms ease-out both collapse;
}
::view-transition-new(page-transition) {
    animation: 600ms ease-in both expand;
}
body {
    view-transition-name: page-transition;
}