.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 60% 40%;
    align-items: center;
    gap: 10%;
    overflow: hidden;
    background: #0096bfab;
    border-radius: 10px;
    margin: 20px;
}

img {
    display: block;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

div.homepage ul {
    padding-left: 20%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}
