
<link rel="stylesheet" type="text/css" href="css/index.css" />
{{> fact_banner fun_fact=fun_fact }}
<h1>Frontend Forward 2024</h1>
<p>
  The Frontend Forward Conference is a conference for the Shipt member frontend teams comprised of presentations and activities.
  <br />
  <br />
  <a href="/presentations" hx-swap="innerHTML transition:true" hx-target="body">View all presentations</a>
</p>
{{> presentation-summary presentation=featured_presentation featured=true }}
