<h1>Frontend Forward 2024</h1>
<p>The Frontend Forward Conference is a conference for the Shipt member frontend teams comprised of presentations and activities.</p>
<a href="/presentations">View all presentations</a>
