
<link rel="stylesheet" type="text/css" href="/css/presentations.css" />
    <h1>Presentations</h1>
    
  <h3> 
    Search Presentations 
    <span id="htmx-indicator" class="htmx-indicator"> 
  Searching... 
    </span> 
  </h3>
  <input class="form-control" type="search" 
        name="search" placeholder="Begin Typing To Search..." 
        data-testId="presentation-search"
        hx-trigger="input changed delay:500ms, search" 
        hx-post="/search" 
        hx-target="#search-results" 
        hx-swap="outerHTML"
        hx-indicator="#htmx-indicator">

  <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Link</th>
        <th>Favorite</th>
      </tr>
      </thead>
      {{> presentation-table presentations=presentations}}
    
  </table>



