<tbody id="search-results">

  {{#each presentations}}
    <tr data-testId="presentation-row">
      <td>{{name}}</td>
      <td>{{firstName}}</td>
      <td>{{lastName}}</td>
      <td><a href="/presentations/{{id}}">Go to Presentation</a></td>
      <td>
          {{> favorited_cell favorited=favorited id=id }}
      </td>
    </tr>
  {{/each}}
</tbody>
