<tbody id="search-results">

  {{#each presentations}}
    <tr data-testId="presentation-row">
      <td>{{name}}</td>
      <td>{{email}}</td>
      <td>{{firstName}}</td>
      <td>{{lastName}}</td>
    </tr>
  {{/each}}
</tbody>
