@view-transition {
    navigation: auto;
}
@keyframes collapse {
    from {
        transform: rotate(0) scale(1) translateX(0) translateY(0);
    }
    to {
        transform: rotate(-300deg) scale(0) translateX(-100%) translateY(100%);
    }
}
@keyframes expand {
    from {
        clip-path: inset(50% 50% 50% 50%);
        transform: scale(0) translateX(100%) translateY(-70%);
        background: skyblue;
    }
    to {
        clip-path: inset(0 0 0 0);
        transform: scale(1) translateX(0) translateY(0);
        background: inherit;
    }
}
::view-transition-old(page-transition) {
    animation: 600ms ease-out both collapse;
}
::view-transition-new(page-transition) {
    animation: 600ms ease-in both expand;
}
body {
    view-transition-name: page-transition;
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul.navigation li {
    float: left;
}

ul.navigation li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
